In [3]:
%pip install dlt dlt[duckdb]

Collecting dlt
  Downloading dlt-1.6.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: PyYAML>=5.4.1 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (6.0.2)
Requirement already satisfied: click>=7.1 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (2024.10.0)
Collecting gitpython>=3.1.29 (from dlt)
  Downloading GitPython-3.1.44-py3-none-any.whl.metadata (13 kB)
Collecting giturlparse>=0.10.0 (from dlt)
  Downloading giturlparse-0.12.0-py2.py3-none-any.whl.metadata (4.5 kB)
Collecting hexbytes>=0.2.2 (from dlt)
  Downloading hexbytes-1.3.0-py3-none-any.whl.metadata (3.3 kB)
Collecting humanize>=4.4.0 (from dlt)
  Downloading humanize-4.11.0-py3-none-any.whl.metadata (7.8 kB)
Collecting jsonpath-ng>=1.5.3 (from dlt)
  Downloading jsonpath_ng-1.7.0-py3-none-any.whl.metadata (18 kB)
Collecting makefun>=1.15.0 (from dlt)
  Downloading makefun-1.15.6-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 (from dlt)
  Downloading orjson-3.10.15-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (41 kB)
Requirement already satisfied: packaging>=21.1 in /home/gcaru/.local/lib/python3.11/site-packages (from dlt) (24.1)
Collecting pathvalidate>=2.5.2 (from dlt)
  Downloading pathvalidate-3.2.3-py3-none-any.whl.metadata (12 kB)
Collecting pendulum>=2.1.2 (from dlt)
  Using cached pendulum-3.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Collecting pluggy>=1.3.0 (from dlt)
  Using cached pluggy-1.5.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: pytz>=2022.6 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (2024.2)
Requirement already satisfied: requests>=2.26.0 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (2.32.3)
Collecting requirements-parser>=0.5.0 (from dlt)
  Downloading requirements_parser-0.11.0-py3-none-any.whl.metadata (4.7 kB)
Collecting rich-argparse<2.0.0,>=1.6.0 (from dlt)
  Downloading rich_argparse-1.7.0-py3-none-any.whl.metadata (14 kB)
Collecting semver>=3.0.0 (from dlt)
  Downloading semver-3.0.4-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: setuptools>=65.6.0 in /home/gcaru/.local/lib/python3.11/site-packages (from dlt) (75.1.0)
Collecting simplejson>=3.17.5 (from dlt)
  Downloading simplejson-3.19.3-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.2 kB)
Collecting tenacity>=8.0.2 (from dlt)
  Downloading tenacity-9.0.0-py3-none-any.whl.metadata (1.2 kB)
Collecting tomlkit>=0.11.3 (from dlt)
  Using cached tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: typing-extensions>=4.8.0 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (4.12.2)
Requirement already satisfied: tzdata>=2022.1 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from dlt) (2024.2)
Collecting duckdb>=0.9 (from dlt[duckdb])
  Downloading duckdb-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (966 bytes)
Collecting gitdb<5,>=4.0.1 (from gitpython>=3.1.29->dlt)
  Downloading gitdb-4.0.12-py3-none-any.whl.metadata (1.2 kB)
Collecting ply (from jsonpath-ng>=1.5.3->dlt)
  Downloading ply-3.11-py2.py3-none-any.whl.metadata (844 bytes)
Requirement already satisfied: python-dateutil>=2.6 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from pendulum>=2.1.2->dlt) (2.9.0.post0)
Collecting time-machine>=2.6.0 (from pendulum>=2.1.2->dlt)
  Using cached time_machine-2.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (21 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/gcaru/.local/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (2024.8.30)
Collecting types-setuptools>=69.1.0 (from requirements-parser>=0.5.0->dlt)
  Downloading types_setuptools-75.8.0.20250210-py3-none-any.whl.metadata (2.2 kB)
Collecting rich>=11.0.0 (from rich-argparse<2.0.0,>=1.6.0->dlt)
  Downloading rich-13.9.4-py3-none-any.whl.metadata (18 kB)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt)
  Downloading smmap-5.0.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: six>=1.5 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from python-dateutil>=2.6->pendulum>=2.1.2->dlt) (1.17.0)
Collecting markdown-it-py>=2.2.0 (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/gcaru/.pyenv/versions/3.11.10/lib/python3.11/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt) (2.18.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Downloading dlt-1.6.1-py3-none-any.whl (884 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 884.3/884.3 kB 33.9 MB/s eta 0:00:00
Downloading duckdb-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.2/20.2 MB 67.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading GitPython-3.1.44-py3-none-any.whl (207 kB)
Downloading giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Downloading hexbytes-1.3.0-py3-none-any.whl (4.9 kB)
Downloading humanize-4.11.0-py3-none-any.whl (128 kB)
Downloading jsonpath_ng-1.7.0-py3-none-any.whl (30 kB)
Downloading makefun-1.15.6-py2.py3-none-any.whl (22 kB)
Downloading orjson-3.10.15-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (130 kB)
Downloading pathvalidate-3.2.3-py3-none-any.whl (24 kB)
Using cached pendulum-3.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (384 kB)
Using cached pluggy-1.5.0-py3-none-any.whl (20 kB)
Downloading requirements_parser-0.11.0-py3-none-any.whl (14 kB)
Downloading rich_argparse-1.7.0-py3-none-any.whl (25 kB)
Downloading semver-3.0.4-py3-none-any.whl (17 kB)
Downloading simplejson-3.19.3-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
Downloading tenacity-9.0.0-py3-none-any.whl (28 kB)
Using cached tomlkit-0.13.2-py3-none-any.whl (37 kB)
Downloading gitdb-4.0.12-py3-none-any.whl (62 kB)
Downloading rich-13.9.4-py3-none-any.whl (242 kB)
Using cached time_machine-2.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (32 kB)
Downloading types_setuptools-75.8.0.20250210-py3-none-any.whl (71 kB)
Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading smmap-5.0.2-py3-none-any.whl (24 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: ply, makefun, types-setuptools, tomlkit, tenacity, smmap, simplejson, semver, pluggy, pathvalidate, orjson, mdurl, jsonpath-ng, humanize, hexbytes, giturlparse, duckdb, time-machine, requirements-parser, markdown-it-py, gitdb, rich, pendulum, gitpython, rich-argparse, dlt
Successfully installed dlt-1.6.1 duckdb-1.2.0 gitdb-4.0.12 gitpython-3.1.44 giturlparse-0.12.0 hexbytes-1.3.0 humanize-4.11.0 jsonpath-ng-1.7.0 makefun-1.15.6 markdown-it-py-3.0.0 mdurl-0.1.2 orjson-3.10.15 pathvalidate-3.2.3 pendulum-3.0.0 pluggy-1.5.0 ply-3.11 requirements-parser-0.11.0 rich-13.9.4 rich-argparse-1.7.0 semver-3.0.4 simplejson-3.19.3 smmap-5.0.2 tenacity-9.0.0 time-machine-2.16.0 tomlkit-0.13.2 types-setuptools-75.8.0.20250210
Note: you may need to restart the kernel to use updated packages.

In [1]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator

In [6]:
@dlt.resource(name="rides")
def get_taxi_data():
    client = RESTClient(
        base_url="https://us-central1-dlthub-analytics.cloudfunctions.net/",
        paginator=PageNumberPaginator(
            base_page=1,
            total_path=None,
        ),
    )

    for page in client.paginate("data_engineering_zoomcamp_api"):
        yield page


pipeline = dlt.pipeline(
    pipeline_name="ny_taxi_pipeline", destination="duckdb", dataset_name="ny_taxi_data"
)

load_info = pipeline.run(get_taxi_data)
print(load_info)

Pipeline ny_taxi_pipeline load step completed in 1.31 seconds
1 load package(s) were loaded to destination duckdb and into dataset ny_taxi_data
The duckdb destination used duckdb:////home/gcaru/code/data-engineering-zoomcamp/workshop-1/ny_taxi_pipeline.duckdb location to store data
Load package 1739390229.1090364 is LOADED and contains no failed jobs

In [8]:
import duckdb

# Connect to the DuckDB database
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

# Describe the dataset
conn.sql("DESCRIBE").df()

,database,schema,name,column_names,column_types,temporary
0,ny_taxi_pipeline,ny_taxi_data,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,ny_taxi_pipeline,ny_taxi_data,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,ny_taxi_pipeline,ny_taxi_data,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,ny_taxi_pipeline,ny_taxi_data,rides,"[end_lat, end_lon, fare_amt, passenger_count, ...","[DOUBLE, DOUBLE, DOUBLE, BIGINT, VARCHAR, DOUB...",False

In [9]:
df = pipeline.dataset(dataset_type="default").rides.df()
df

,end_lat,end_lon,fare_amt,passenger_count,payment_type,start_lat,start_lon,tip_amt,tolls_amt,total_amt,trip_distance,trip_dropoff_date_time,trip_pickup_date_time,surcharge,vendor_name,_dlt_load_id,_dlt_id,store_and_forward
0,40.742963,-73.980072,45.0,1,Credit,40.641525,-73.787442,9.0,4.15,58.15,17.52,2009-06-14 23:48:00+00:00,2009-06-14 23:23:00+00:00,0.0,VTS,1739390229.1090364,1/ZSM1liNtd7hg,NaN
1,40.740187,-74.005698,6.5,1,Credit,40.722065,-74.009767,1.0,0.00,8.50,1.56,2009-06-18 17:43:00+00:00,2009-06-18 17:35:00+00:00,1.0,VTS,1739390229.1090364,gKbCn/BZ7P+j5A,NaN
2,40.718043,-74.004745,12.5,5,Credit,40.761945,-73.983038,2.0,0.00,15.50,3.37,2009-06-10 18:27:00+00:00,2009-06-10 18:08:00+00:00,1.0,VTS,1739390229.1090364,6bD4CCA+Cf8dCg,NaN
3,40.739637,-73.985233,4.9,1,CASH,40.749802,-73.992247,0.0,0.00,5.40,1.11,2009-06-14 23:58:00+00:00,2009-06-14 23:54:00+00:00,0.5,VTS,1739390229.1090364,molDAeYankicPw,NaN
4,40.730032,-73.852693,25.7,1,CASH,40.776825,-73.949233,0.0,4.15,29.85,11.09,2009-06-13 13:23:00+00:00,2009-06-13 13:01:00+00:00,0.0,VTS,1739390229.1090364,Zi8LzaESPthMjQ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40.783522,-73.970690,5.7,1,CASH,40.778560,-73.953660,0.0,0.00,5.70,1.16,2009-06-19 11:28:00+00:00,2009-06-19 11:22:00+00:00,0.0,VTS,1739390229.1090364,gDSj57zWaQeawA,NaN
9996,40.777200,-73.964197,4.1,1,CASH,40.779800,-73.974297,0.0,0.00,4.10,0.89,2009-06-17 07:43:00+00:00,2009-06-17 07:41:00+00:00,0.0,VTS,1739390229.1090364,qAwRt3XNpQrmvw,NaN
9997,40.780172,-73.957617,6.1,1,CASH,40.788388,-73.976758,0.0,0.00,6.10,1.30,2009-06-19 11:46:00+00:00,2009-06-19 11:39:00+00:00,0.0,VTS,1739390229.1090364,yKx9oAU+Lh09jw,NaN
9998,40.777342,-73.957242,5.7,1,CASH,40.773828,-73.956690,0.0,0.00,6.20,0.97,2009-06-17 04:19:00+00:00,2009-06-17 04:13:00+00:00,0.5,VTS,1739390229.1090364,Ok4DUk5pWl7Lkg,NaN
9999,40.757122,-73.986293,6.5,1,Credit,40.756313,-73.972948,2.0,0.00,8.50,0.92,2009-06-17 08:34:00+00:00,2009-06-17 08:24:00+00:00,0.0,VTS,1739390229.1090364,Hphf6yUWwYA39w,NaN

In [10]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
            AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
            FROM rides;
            """
        )
    print(res)

[(12.3049,)]